name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *" # Roda a cada 12 horas
  workflow_dispatch: # Permite rodar manualmente

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Generate GitHub Contributions Snake
        uses: Platane/snk@v3
        with:
          github_user_name: rhawan81
          outputs: dist/github-snake.svg
          # Adicione esta linha para definir a cor de fundo preta
          background-color: '#000000' 

      - name: Push to branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output # A branch onde o SVG será salvo
          build_dir: dist # O diretório onde o SVG é gerado
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
